@import 'reset.css';
@import 'content.css';
@import 'responsive.css';

@font-face {
    font-family: 'Factor A';
    src: url('../font/FactorALight-Regular.woff2')  format('woff2');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Factor A';
    src: url('../font/FactorA-Bold.woff2')  format('woff2');
    font-weight: 800;
    font-style: bold;
}